####
# Fichiers de sauvegarde
*~
*.swp
# Fichiers de compilation
*.o
*.out
*.exe
# Fichiers de configuration
*.log
# Dossiers
node_modules/
build/
dist/
.cache/
# Divers
api.js
####
.vscode/
.idea/
00_archives/
backend/sqlTests/testModel.js
