body {
  max-width: 100%;
  max-height: 100vh;
  margin: 0;
  padding: 0;
}

.container-g {
  height: 85vh;
  width: 100vw;
}

/*FOOTER*/

#footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  justify-content: center;
  align-items: center;
  bottom: 0;
  padding: 1.5em;
  background-color: rgb(73, 65, 81);
  color: beige;
}

#footer a {
  color: rgb(211, 174, 245);
}

/*FIN FOOTER*/

/* CARROUSEL */

.container-carrousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2em;
}

.slider-wrapper {
  position: relative;
  text-align: center;
  max-width: 42em;
  margin: 0 auto;
}

.slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.25rem;
}

.slider img {
  flex: 1 0 100%;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 1rem;
  height: 1rem;
  background-color: black;
  border-radius: 50%;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

/* FIN CARRROUSEL*/

#product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#placeholderCarousel {
  max-width: 500px;
  max-height: 500px;

  background-color: grey;

  margin: 2em;
  border: 2px solid black;
}

#productMainSection {
  max-height: 500px;
  max-width: 500px;
  display: grid;
  justify-content: right;
}

#productName {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

#productDetails {
  display: grid;
}

.detail {
  max-width: 500px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 4rem;
  padding-left: 2em;
}

.detail-label {
  justify-self: left;
  font-weight: 600;
}

.buyBtn {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: plum;
  color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 3px purple;
  margin: 30px 0 50px 0;
  padding: 1rem;
  transition: 0.5 ease-in-out;
}

.buyBtn:hover {
  border: transparent 3px solid;
  color: purple;
}
