@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  max-width: 100%;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

h1 {
  text-align: center;
  width: 70%;
}

h5 {
  text-align: center;
  width: 70%;
  margin-top: 20px;
}

::-webkit-scrollbar {
  display: none;
}

#wishlist,
#user-account {
  justify-self: right;
}

#user-account {
  padding-right: 2em;
}

.container-g {
  height: 85vh;
  width: 100vw;
}

/*FOOTER*/

#footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  justify-content: center;
  align-items: center;
  bottom: 0;
  padding: 1.5em;
  background-color: pink;
  color: black;
}

#footer a {
  color: black;
  font-size: 14px;
}

/*FIN FOOTER*/

/* CARROUSEL */

.container-carrousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2em;
}

.slider-wrapper {
  position: relative;
  text-align: center;
  max-width: 42em;
  margin: 0 auto;
}

.slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.25rem;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 1rem;
  height: 1rem;
  background-color: black;
  border-radius: 50%;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.resizable-image {
  max-height: 400px;
}

/* FIN CARRROUSEL*/

#product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#placeholderCarousel {
  max-width: 500px;
  max-height: 500px;

  background-color: grey;

  margin: 2em;
  border: 2px solid black;
}

#productMainSection {
  max-height: 500px;
  max-width: 500px;
  display: grid;
  justify-content: center;
}

#productName {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

#productDetails {
  display: grid;
}

.detail {
  max-width: 500px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 4rem;
  padding-left: 2em;
}

.detail-label {
  justify-self: left;
  font-weight: 600;
}

.buyBtn {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  background: black;
  color: white;
  border-radius: 30px;
  margin: 30px 0 30px 0;
  max-width: 250px;
  transition: 0.5 ease-in-out;
}

.buyBtn:hover {
  background: pink;
  color: black;
  transition: 0.5s;
}
