body {
  max-width: 100%;
  margin: 0;

}

#header {
  display: grid;
  grid-template-columns: 4fr 8fr 3fr 1fr;
  justify-items: center;
  align-items: center;
  width: 100vw;
  background-color: blueviolet;
  color: beige;
}

#logo-h {
  justify-self: left;
  padding-left: 2em;
}

#wishlist, #user-account {
  justify-self: right;
}

#user-account {
  padding-right: 2em;
}

.container-g {
  height: 85vh;
  width: 100vw;
}

/*FOOTER*/

#footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  justify-content: center;
  align-items: center;
  bottom: 0;
  padding: 1.5em;
  background-color: rgb(73, 65, 81);
  color: beige;
}

#footer a {
  color:rgb(211, 174, 245);
}

/*FIN FOOTER*/