
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --header-bg-color: white;
  --header-text-color: black;
  --title-color: rgb(253, 150, 167); /* Black as the main color */
  --title-hover-color: grey; /* Slightly lighter shade for hover */
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  padding: 20px;
  border-radius: 5px;
  font-size: 18px;
}

#header h2 {
  color: pink;
  font-weight: 400;
  text-align: left;
  line-height: 1.1;
}

#header a {
  position: right;
  text-decoration: none;

}

#website-title:hover {
  color: black;
  cursor: pointer;
  transition: 0.5s;
}

#logo-h {
  width: 100px;
  height: auto;
}

#wishlist,
#user-account {
  margin-left: 10px;
  color: var(--title-color);
}

#wishlist {
  margin-top: 10px;
}

#user-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  padding-right: 2em;
}

#user-actions img{
  height: 20px;
}

#wishlist,
#user-account {
  justify-self: right;
  margin: 50px;
  color: var(--title-color);
}

#wishlist,
#user-account {
  justify-self: right;
  margin: 50px;
  color: var(--title-color);
  cursor: pointer;
}

.icon-text-container{
  margin: 10px;
}

.icon-text-container:hover{
  cursor: pointer;
  color: pink;
  transition: 0.5s;
}